/* Home Page */
#home_module_list {
	width: 960px;
	margin-top: 0px;
	min-height: 697px;
	clear: both;
}

#home_module_list .module_item {
	padding: 10px;
	width: 270px;
	margin: 10px;
	float: left;
}

#home_module_list .module_item a {
	width: 250px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: #1E5A96;
	display: block;
}

#home_module_list .module_item a img {
	float: left;
}

#home_module_list .module_item a span {
	line-height: 48px;
	margin-left: 10px;
}

#home_module_list .module_item > span {
	font-size: 11px;
	font-weight: bold;
}

button {
    background: url("../images/pieces/btnUpdate.png") no-repeat top left transparent;
    color:#000000;
    display: block;
    height: 24px;
	border: 10px;
	width: 70px;
	margin-top: 5px;
    text-align: center;
}

div#dbBackup {
	text-align: right;
	height: 42px;
}

div#dbRestore {
	text-align: right;
	height: 42px;
}

div#dbBackup a.dbBackup {
	background: #FFFFFF url("../images/pieces/dbBackup.png") top left no-repeat;
	padding: 5px 0px 5px 42px;
	line-height: 42px;
	font-size: 20px;
	color: #1E5A96;
}



div#dbRestore a.dbRestore {
	background: #FFFFFF url("../images/pieces/restore.png") top left no-repeat;
	padding: 5px 0px 5px 42px;
	line-height: 42px;
	font-size: 20px;
	color: #1E5A96;
}

#optimize_loading
{
	display: none;
}
div#dbOptimize {
	text-align: right;
	height: 42px;
}

div#dbOptimize a.dbOptimize {
	background: #FFFFFF url("../images/pieces/optimizeDatabase.gif") top left no-repeat;
	padding: 5px 0px 5px 42px;
	line-height: 42px;
	font-size: 20px;
	color: #1E5A96;
}

/* FieldSets - Config Page & Pop-ups */
fieldset {
	border: 1px solid #DDDDDD;
}

fieldset > legend {
	padding: 5px;
	margin-left: 10px;
}

fieldset div#required_fields_message {
	color: #FF0000;
	font-size: 12px;
}

fieldset div.field_row {
	margin: 10px;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}

fieldset div.field_row_sec {
    font-size: 14px;
    margin: 10px;
    padding-bottom: 5px;
}

fieldset div.field_row label {
	width: 180px;
	padding: 5px;
	float: left;
}

fieldset div.field_row div.form_field input {
	padding: 5px;
	line-height: 20px;
	border: 1px solid #CCCCCC;
}

fieldset div.field_row div.form_field input[type='checkbox'] {
	margin-top: 14px;
	border: 1px solid #CCCCCC;
}

fieldset div.field_row div.form_field select {
	padding: 5px;
	line-height: 20px;
	border: 1px solid #CCCCCC;
}

fieldset div.field_row div.form_field textarea {
	padding: 5px;
	border: 1px solid #CCCCCC;
}

fieldset input[type='submit'] {
	padding: 10px;
	line-height: 12px;
	margin: 10px;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #FFFFFF;
	background: #1E5A96;
	border: 1px solid #EEEEEE;
}



.column
{
    float: left;
    margin: 5px;
}

.column li
{
 	padding-bottom: 5px;   
}

.cleared
{
  clear: left;   
}

#content_area_wrapper {
	background: #1E5A96 url("../images/customer/customer_r2_c1.png") -10px 0  no-repeat;
	height: auto;
    margin: auto;
    width: 1000px;
	padding: 8px 0px 0px 0px;
	min-height: 600px;
	background-color: #000000;
}

#content_area {

	width: 960px;
	margin: 1px auto;
	padding: 20px 10px 10px 10px;
	background: #FFFFFF;
}
label.required{ color:red; }
 
#feedback_bar{
	display: none;
    font-weight: bold;
    left: 235px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 110px;
    width: 700px;
}

.warning_message,
.error_message,
.success_message {line-height: 30px;padding: 10px;}
.warning_message
{
    background-color: #ffffb5;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}
.error_message
{
    background-color: #f68383;
    border: 1px solid #da3232;
}
.success_message
{
    background-color: #E1FFDD;
    border: 1px solid #2CA71C;
}
#pagination{
    height: 20px;
    padding: 5px;
    text-align: center;
}
#pagination a{
color:#ccc;
}
#pagination strong{
color:#000;
background:#ccc;
padding:0px 2px;
}

.clearfix:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix { height: 1%; }

#pagination {
    padding : 3px;
	height : 24px;
	background-image : url("../images/pieces/table_body.png");
    background-position : 0px -590px;
}

/* IE7 Pagination */
#pagination{
    *padding: 3px;
	*height: 24px;
	*background-image: url("../images/pieces/table_body.png");
    *background-position: 0px -590px;
}

/* IE7 Suspend & Cancel */
#suspend_cancel {
	*padding-top: 0px;
	*margin-top: 10px;
	*margin-bottom: 10px;
}

#suspend_cancel > #suspend{ 
	*float: left; 
}

#suspend_cancel > #cancel{ 
	*float: left; 
	width: 40px;
}

/* IE7 Tables */
#register_items_container #reg_item_search form #new_item_button_register {
	*margin-top: -30px;
}

#over_all_sale_container #overall_sale {
	*margin-left: 5px;
}

#show_suspended_sales_button {
    background: url("../images/pieces/view_suspended.png") no-repeat scroll right center transparent;
    font-size: 0.8em;
    height: 49px;
    line-height: 0;
    text-align: center;
    width: 230px;
}

#show_suspended_sales_button a div {
	font-size: 73%;
    padding-top: 5px;
}

/* IE8 Pagination */
#pagination {
    padding /*\**/: 3px\9;
	height /*\**/: 24px\9;
	background-image /*\**/: url("../images/pieces/table_body.png")\9;
    background-position /*\**/: 0px -590px\9;
}

/* Safary Webkit based browsers hacks */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	#pagination{
		padding: 3px;
		height: 24px;
		background-image: url("../images/pieces/table_body.png");
		background-position: 0px -590px;
	}
}

#pagination {
    padding : 3px \0/;
	height : 24px \0/;
	background-image : url("../images/pieces/table_body.png") \0/;
    background-position : 0px -590px \0/;
}

/* IE9 Pagination */
#pagination {
    padding : 3px\9;
	height : 24px\9;
	background-image : url("../images/pieces/table_body.png");
    background-position : 0px -590px\9;
}

.cumulative_label
{
	font-size:11px;
}

.underline
{
	text-decoration: underline;
}

.ui-autocomplete 
{
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

* html .ui-autocomplete {
	height: 250px;
}
.ipd-data-field{color:#000000;font-weight:normal;}
.ipd-add-button {
    background: none repeat scroll 0 0 #1DA2E0 ;
    border: 1px solid #1DA2E0 ;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;   
    padding: 5px;
}
.ipd-delete-button {
    background: none repeat scroll 0 0 #FF0000;
    border: 1px solid #EEEEEE;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;  
    padding: 5px;
}
.block-div{float:left;margin-left:207px; margin-top: 10px;}
.ipd-fom-notice-box {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #000000;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 45px;
    margin-left: 14px;
    margin-top: 15px;
    padding: 10px;
    width: 479px;
}
.ipd-fom-notice-message { color: #FF0000; font-size: 14px;font-weight: normal;}
#search_patinet_spiner{
    display: none;
    margin-left: 220px;
    margin-top: 8px;
    position: absolute;
    z-index: 5000;
}

.search_ipd_mange01{ display: none;  margin-left: -29px;   margin-top: 8px;  position: absolute;  z-index: 5000;}

.reload-page {
    background: none repeat scroll 0 0 #FF0000;
    border: 1px solid #FF0000;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 10px 10px 10px 4px;
    padding: 7px;cursor:pointer;
}

.disble_managelink{background-color:#FFFF00;color:#FF0000}
/* ipd patient search list*/
.show-blocklist{margin-left:186px;}
#search_ipd_data_spiner{ display: none;   margin-left: 136px;  margin-top: 8px;  position: absolute;  z-index: 5000;}

/* hide all sales type list by css  */
.sales_type_hide{display:none;}
#private_code_img {
    display: none;
}

.form_button{
    background-color: #1da2e0 !important;
    border: 1px solid #1da2e0 !important;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px !important;
    padding: 5px 7px 4px !important;
    text-align: left;
    width: auto;
	height:30px;
}

.form_button_delete{
    background-color: #ff0000 !important;
    border: 1px solid #eeeeee !important;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px !important;
    padding: 5px 7px 4px !important;
    text-align: left;
    width: auto;
	height:30px;
	font-weight:bold;
}

.form_button_left{margin-left: 225px;}
.labcategory_div{width:540px;float:left; margin:10px 15px;overflow-y:scroll; height:180px;}
.labcategory_checkbox{float:right; margin-top: -8px;width:auto;}
.labcategory_commision{float:right; margin-top: 12px;width: 64px;} 

.lab_invest_category_sec {
    float: left;
    height: 180px;
    margin: 10px 28px;
    overflow-y: scroll;
    width: 512px;
}

.lab_invest_category_checkbox {
    float: right;
    margin-top: -8px;
}
.invetCategory{width:60%;}


.add_more {
    color: #05578a;
    float: right;
    font-size: 14px;
    margin-bottom: 37px;
    margin-right: 60px;
    margin-top: 8px;
}
.uss_xrays_remove_see{font-weight:normal;color: #08c;margin-left: 56px;}
.uss_xrays_img { float: left; height: 200px; width: 200px;  margin-bottom: 20px; margin-top: 10px;border:1px solid #021a40;margin-left: 10px;}
.report005 { background-color: #808080;float: left; height: 24px; width: 100%;padding:10px 0 0px;}
.view_post_image { background-color: #808080; float: right; margin-bottom: 25px; margin-left: 218px;text-align: center; width: 100%;}

.legend_internal_sec{ border-top: 1px solid #cccccc;
					  border-left: 1px solid #cccccc;
					  border-right: 1px solid #cccccc;
					  border-bottom: 1px solid #cccccc;
					}
.internal_sec_title{font-size: 16px;font-weight: bold;color:red;margin-bottom: 10px;} 
.input_width_1{width:84%;padding: 4px;} 
.input_width_2{width:60%;padding: 4px;} 
 
 .field_row2 {  font-size: 14px;
				margin: 10px;
				padding-bottom: 0px;
			}
fieldset div.field_row2 label {float: left;
						 padding: 5px;
						 width: 180px;
						}

.field_row3 {  font-size: 14px;
			margin: 10px;
			padding-bottom: 0px;
			}
fieldset div.field_row3 label {float: left;
						 padding: 0px;
						 width: 135px;
						}
						
.field_row_dotted { border-bottom: 1px solid #dddddd;width:100%;}
.field_row_dotted1 { border-bottom: 2px solid #dddddd;width:100%;float: left;margin-bottom: 10px;}
.daignosis_main_sec{width:100%;float:left;height: 140px;border-bottom: 2px solid #dddddd;margin-bottom: 15px;}
.daignosis_main_left{float:left;width:54%;}
.daignosis_main_right{width:auto;}
.diagnosis_serach{margin-left: 80px;font-size:12px;}
.search_daignosis{border: 1px solid #cccccc; line-height: 20px;padding: 3px;}
.diagnoses_div_sec{float:left; margin:20px;overflow-y:scroll;width: 450px; height:130px;}
.mthu_diagnoses_sec { float: left; font-weight: normal;  width: 400px;}
.diagnoses_sec{display:none;width: 400px;margin-right: 114px;height:206px;}

.diagnoses_lab_search{float:left;margin-left: 5px;}
.diagnoses_list_sec {width:550px;float:left; margin:4px 8px;overflow-y:scroll; height:300px;}
.checkbox_list_sec {width:280px; overflow-y:scroll; height:140px;border: 1px solid #dddddd;}
.checkbox_div { float: left; font-weight: normal;width: 250px;  padding: 4px;}
.round_div_sec {
    background-color: #8f8f8f;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;	
}

/* MINISTRY REPORTS TOOLS CSS */
.ministry_tool_title { color: #770000; float: left; font-weight: bold; margin-left: 35%;  margin-bottom: 5px;}
.ministry_tool_sec { color: #696666; float: left; font-size: 12px; margin-top: 10px; padding: 10;width: 100%;}
.export_reports { background: none repeat scroll 0 0 #1da2e0 ;
				border: 1px solid #1da2e0 ;
				color: #ffffff;
				cursor: pointer;
				font-weight: bold;
				line-height: 18px;
				padding: 5px;
				margin-left: 146px;
				margin-top: 10px;
			 }
.ministry_search{ display: none;  margin-left: 10px; margin-top: 18px; position: absolute;  z-index: 5000;}
.field_row_dotted1 { border-bottom: 2px solid #dddddd; float: left; margin-bottom: 10px; width: 100%;}
.ministry_reporting_date {  margin-left: 135px;}		
#search_keyword{ border: 1px solid #cccccc; line-height: 22px;width: 212px;} 
.nhif_search {
    display: none;
    margin-left: 2px;
    margin-top: 18px;
    position: absolute;
    z-index: 5000;
}
.addmore_ip_button{margin-right:60px;float:left}
.addmore_ip_address_text{border-bottom:3px;margin:10px 20px 10px 270px;}  


/* start observations create pdf file css */
#view_calender_sec {
    float: left;
    margin-top: 10px;
    width: auto;
}

#view_calender_sec #from_date {
    border: 1px solid #cccccc;
    font-size: 10px;
    line-height: 2px;
    padding: 5px;
	margin-left: -6px;
    width: 53px;
}

#view_calender_sec #to_date {
    border: 1px solid #cccccc;
    font-size: 10px;
    line-height: 2px;
    padding: 5px;
    width: 53px;
}
.send_to_pdf_green {
    background: #008d00 none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    color: #ffffff;      
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    padding: 2px;
	margin-bottom: 10px;
}
.search_left_menu {
    background: #1e5a96 none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    padding: 2px;
}
#observations_sec{ float: left;overflow-y: scroll; width: 759px;min-height: 250px;}
.pagination_sec {float: left; width: 100%;font-size: 16px;}		 

/* end observations create pdf file css */
.row_bg_higlight_css{cursor: pointer; background-color: #75F164;}
.row_bg_css{cursor: pointer;}
 #labcategory{width:550px;float:left; margin:4px 8px;overflow-y:scroll; height:300px;}

