#title_bar {
    font-size: 1.75em;
    height: 50px;
    margin: auto;
    width: 960px;
}
#title_icon {
    width: 40px;
}
#title_icon img {
    height: 35px;
}
#title_search {
    vertical-align: middle;
    width: 264px;
}
#title_bar input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 0.65em;
    padding: 6px 10px;
    vertical-align: top;
    width: 205px;
}
#title_bar .option_filter {
    border: 1px solid #cccccc;
    float: right;
    line-height: 20px;
    margin-right: 0px;
    padding: 5px;
	margin-right: 0px;
    width: 175px;
}
#spinner {
    display: none;
}
#contents {
    margin: auto;
    width: 960px;
}
#commands {
    width: 170px;
}
#commands a, #commands #items_filter_form div {
    background-image: url("../images/pieces/buttons.png");
    color: #FFFFFF;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    height: 31px;
    padding: 7px 0 0 10px;
    width: 160px;
}
#commands #items_filter_form div input {
    display: none;
}
#commands a.new {
    background-position: -10px -10px;
}
#commands a.email {
    background-position: -10px -50px;
}
#commands a.email_inactive {
    background-position: -10px -90px;
}
#commands a.import {
    background-position: -10px -130px;
}
#commands a.cleanup {
    background-position: -10px -130px;
}
#commands a#delete {
    background-position: -10px -170px;
}
#commands a#delete.delete_inactive {
    background-position: -10px -210px;
}
#commands a#bulk_edit {
    background-position: -10px -250px;
}
#commands a#bulk_edit.bulk_edit_inactive {
    background-position: -10px -290px;
}
#commands a#generate_barcodes {
    background-position: -10px -330px;
}
#commands a#generate_barcodes.generate_barcodes_inactive {
    background-position: -10px -370px;
}
#commands a#generate_barcode_labels {
    background-position: -10px -330px;
}
#commands a#generate_barcode_labels.generate_barcodes_inactive {
    background-position: -10px -370px;
}
#commands #inventory {
    background-position: -10px -410px;
}
#commands #serial {
    background-position: -10px -330px;
}
#commands #nondescript {
    background-position: -10px -450px;
}
#contents td {
    vertical-align: top;
}
#item_table {
    background-image: none;
    background-position: 0 0;
}
#item_table th {
    background-image: url("../images/pieces/table_body.png");
    background-position: -15px -80px;
    border-right: 1px solid #BBBBBB;
    color: #FFFFFF;
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    text-align: left;
}
#item_table th.leftmost {
    background-position: left -80px;
}
#item_table th.rightmost {
    background-position: right -80px;
}
#item_table .headerSortUp {
    background-position: right 0;
}
#item_table .headerSortDown {
    background-position: right -40px;
}
#item_table .rightmost {
    border-right: medium none;
}
#item_table td {
    background-color: #E9E9E9;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    color: #444444;
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
}
#item_table td.rightmost {
    padding: 0;
}
#item_table td.over {
    background-color: #CCCCFF;
    background-image: none;
}
#item_table td.selected {
    background-color: #FFFFCC;
    background-image: none;
}
#table_holder {
    height: auto;
    width: 780px;
}

#table_holder .warning_message {
	background: #FFFFFF;
	width: 101%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: -11px;
}

#sortable_table a {
    color: #555555;
}
#sortable_table input {
    cursor: pointer;
}
#sortable_table .thickbox {
    font-size: auto;
    padding: 7px 0;
    text-align: center;
    width: 40px;
}
#sortable_table .rightmost .thickbox {
    /*display: block;*/
    padding: 7px;
}

#sortable_table > tbody > tr {
	padding: 5px;
	margin: 5px;
}

#sortable_table td {
	word-wrap: break-word;
}

#sortable_table td.innertable {
	display: none;
	border-bottom: 4px solid #111111;
	padding: 0px;
}

#sortable_table td .innertable table.innertable {
	width: 100%;
}

/*-------------------------08-11-2013-----------------------------------*/
.people-info-left{float:left;width:80%}
.people-info-img{margin-top:23px;margin-bottom:30px; height: 100px;}
.people-info{width:45%;float:left; margin-left:20px;}
.people-info01{width:40%;float:left; margin-left:50px;}
.people-info02{width:30%;float:left; margin-left:20px;}
.people-info-right{width:45%;float:left; margin-left:20px;color: #000000;font-size:14px; font-weight: bold;}
.peopleinfo1{color: #000000;font-size:14px; }
.peopleinfo2{color: #800000;font-size:14px;}

.heigthdiv{ background-image: url("../images/pieces/table_body.png");  background-position: -15px -80px; border-right: 1px solid #BBBBBB; height:6px; text-align: left;margin-bottom:6px; }
.heigthdiv1{ background-image: url("../images/pieces/table_body.png");  background-position: -15px -80px; border-right: 1px solid #BBBBBB; height:6px; text-align: left;margin-top:83px; margin-bottom: 10px;}
.history-menu-div{width:100%; float:left}
.history-menu{  background-color: #000000; float:left; border-right: 1px solid #BBBBBB; height:20px; width:18%;color: #FFFFFF;padding: 5px; text-align:center;margin-bottom: 10px;}

.history-menu1{ background-image: url("../images/pieces/table_body.png");  background-position: -15px -80px;  border-right: 1px solid #BBBBBB;
    color: #FFFFFF;
    font-size: 0.7em;
    height: 30px;
    padding: 0 10px;
    text-align: left;
}
.menu-left{margin-left:40px;}
.menu-left1{margin-left:15px;}
.comment-header{text-align:center;margin-bottom:10px;font-size: 14px;font-weight: bold;}
.comment_header_sec{margin-bottom:10px;width:100%}
.comment_header_title{color: green;font-size: 14px;font-weight: bold; margin-left: 38%;}
.group_filter_sec{ float:right; margin-left:0px;font-weight: bold;}
.group_filter{ border: 1px solid #cccccc;
			   float:right; margin-left:0px; 
			   line-height: 20px;
			   padding: 2px;
			   width: 187px;
			   margin-top: -2px;
			 }
			 
.titleC{color:#FFFFFF;}
.lab-search{float:left;margin-left: 5px;}
.lab_search_poup{margin-left: 9px;} 
.add_new_lab_search{margin-left: 95px;}

.lab-search-box{border: 1px solid #CCCCCC;   line-height: 20px;  padding: 2px;}
.add-post-report{margin-left:2%;}
.add-post-report-title{margin-left:35%;margin-bottom:10px;font-weight: normal;}
.add-view-report-title{margin-left:28%;margin-bottom:10px;font-weight: normal;}
.add-button{ background: none repeat scroll 0 0 #1E5A96; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; font-weight: bold;line-height: 20px;  margin: 9px;  padding: 5px;cursor: pointer;}
.delete-button{ background: none repeat scroll 0 0 #FF0000; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; font-weight: bold;line-height: 20px;  margin: 10px;  padding: 5px;cursor: pointer;}
.active_deactive{ background: none repeat scroll 0 0 #FFFF00; border: 1px solid #919191; color: #000000; font-size: 12px; font-weight: bold;line-height: 20px;  margin: 10px 10px 10px;  padding: 5px;cursor: pointer;}
.add-diseases{ background: none repeat scroll 0 0 #1E5A96; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; font-weight: bold;line-height: 20px;  margin-top: 15px;margin-left: 113px; padding: 5px;cursor: pointer;}

.lab-search-button{ background: none repeat scroll 0 0 #1da2e0; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; font-weight: bold;line-height: 20px;  margin: 4px;  padding: 3px;cursor: pointer;}
.lab-delete-button{ background: none repeat scroll 0 0 #FF0000; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; font-weight: bold;line-height: 20px;  margin: 4px;  padding: 3px;cursor: pointer;}
.lab-button-black{ background: none repeat scroll 0 0 #000000; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; font-weight: bold;line-height: 20px;  margin: 4px;  padding: 3px;cursor: pointer;}
.lab-edit-button{ background: none repeat scroll 0 0 #1da2e0 ; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; line-height: 10px; padding: 3px;cursor: pointer;}

/*--------------POP Up code---------------------------------*/
#login_pop {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #DDDDDD;
    border-radius: 3px;
    color: #CCCCCC;
    height: 190px;
    margin-right: 184px;
    padding: 10px;
    position: absolute !important;
    right: 0 !important;
    text-align: left;
    top: 130px !important;
    width: 350px;
    z-index: 1000000;
}

.popup_section { display:none;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #DDDDDD;
    border-radius: 3px;
    color: #CCCCCC;
    height: 190px;
    margin-right: 184px;
    padding: 10px;
    position: absolute !important;
    right: 0 !important;
    text-align: left;
    top: 130px !important;
    width: 350px;
    z-index: 1000000;
}

#labimport_pop{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #DDDDDD;
    border-radius: 3px;
    color: #CCCCCC;
    height: 190px;
    margin-right: 184px;
    padding: 10px;
    position: absolute !important;
    right: 0 !important;
    text-align: left;
    top: 130px !important;
    width: 350px;
    z-index: 1000000;
}

#Laboratory_pop { display:none;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #DDDDDD;
    border-radius: 3px;
    color: #CCCCCC;
    height: 300px;
    margin-right: 90px;
    padding: 10px;
    position: absolute !important;
    right: 0 !important;
    text-align: left;
    top: 130px !important;
    width: 470px;
    z-index: 1000000;
}

#physical_examination { display:none;
						background: none repeat scroll 0 0 #FFFFFF;
						border: 4px solid #1da237;
						border-radius: 3px;
						margin-right: 30px;
						padding: 10px;
						position: absolute !important;
						right: 0 !important;
						text-align: left;
						top: 50px !important;
						z-index: 1000000;
						width:500px;
						height:500px;
						overflow-y: scroll;
					  }

.add-lab-box{width:220px;border: 1px solid #CCCCCC;   line-height: 20px;  padding: 5px;}
.add-lab-pop{margin-top: 40px;margin-bottom: 20px;}
.add-lab-pop1{margin-top: 40px;margin-bottom: 30px;}
.add-lab-pop4{margin-top: 20px;}
.add-lab-pop3{margin-top: 20px;margin-bottom: 20px;}

.add-lab-textbox{width:220px;border: 1px solid #CCCCCC;   line-height: 20px;  padding: 5px;}
.move001{margin-left: 77px;}
.move002{margin-left: 122px;}
.move003 { margin-left: 121px;}
.move004{ margin-left: 128px;}
.move005{ margin-left: 107px;}
.move006{ margin-left: 104px;}
.search-spiner{display: none;  margin-left: 135px;margin-top:8px; position: absolute; z-index: 5000;}
.lab-search-2{margin-left:25px;font-size: 14px;font-weight: bold;}
.lab_search_sec{ margin-right: 18px;float: right;}

.add-lab-pop2{margin-top: 10px;margin-bottom: 10px; margin-left: 48px;font-size: 14px;color: #000000;}
.file-upload-button{ width: 80px; background: none repeat scroll 0 0 #1E5A96; border: 1px solid #EEEEEE; color: #FFFFFF; font-size: 12px; font-weight: bold;line-height:20px;  margin: 9px;  padding: 4px;cursor: pointer;}
.validationtxt {   color: #FF0000;float: left;font: 12px Arial,Helvetica,sans-serif; height: auto;margin-left:86px;margin-top: 10px;width: 202px;}
.view-report-tech{ margin-left: 10px;float:left;font-weight: normal;}
.view-report-div{float:right;width:45%;font-weight: normal;}
.view-report-date{color:#FFFF00;}
.report001{background-color:#808080;width:97%;height: 24px;}
.date-field{width:100%; margin-bottom:5px;}
.date-field-input{width:120px;  border: 1px solid #CCCCCC;   line-height: 20px;  padding: 2px; }
.result-div {margin-top: 15px;}
.search-spiner01{display: none;  margin-left: 126px;margin-top:6px; position: absolute; z-index: 5000;}
.search-spiner02{display: none;  margin-left: 155px;margin-top:6px; position: absolute; z-index: 5000;}
.search-spiner03{display: none;  margin-left: 191px;margin-top:10px; position: absolute; z-index: 5000;}
.search-spiner04 { display: none;margin-left: 173px;margin-top: 16px;position: absolute;z-index: 5000; }
.search-spiner05{display: none;  margin-left: 132px;margin-top:12px; position: absolute; z-index: 5000;}
.search-spiner06{display: none;  margin-left: 2px;margin-top:5px; position: absolute; z-index: 5000;}
.updatemessage{margin-left:23px; font-size:12px;color: #FF0000; margin-top: 10px;}
.mthua-report{margin-left:20px;}
.mthua-report-export{margin-left:20px;font-size: 14px;}
.mthua-report-title{font-size: 20px;  margin-left: 36%;}
.hospital-title{font-size: 14px;  margin-left: 22%;margin-top:10px;}
.hospital-title-right{margin-left:10px;}
.hospital-title2{font-size: 14px;  margin-left: 40%;margin-top:10px;}

/* Epay Transactions css */
.epay-report-title{font-size: 20px;  text-align:center;}

#item_table_report th {
    background-color: #C0C0C0;
    background-position: -15px -80px;
    border-right: 1px solid #808080;
    color: #000000;
    font-size: 0.75em;
    height: 30px;
    padding: 0 10px;
    text-align: left;
}
#item_table_report th.leftmost {
    background-position: left -80px;
}
#item_table_report th.rightmost {
    background-position: right -80px;
}
#item_table_report .headerSortUp {
    background-position: right 0;
}
#item_table_report .headerSortDown {
    background-position: right -40px;
}
#item_table_report .rightmost {
    border-right: medium none;
}
#item_table_report td {
    background-color: #E9E9E9;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    color: #444444;
    font-size: 0.8em;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
}
#item_table_report td.rightmost {
    padding: 0;
}
#item_table_report td.over {
    background-color: #CCCCFF;
    background-image: none;
}
#item_table_report td.selected {
    background-color: #FFFFCC;
    background-image: none;
}

.mthuha-report-left{float:left;}
.mthuha-report-right{float:right;}
.mthuha-report-middle{width:1px;border: 1px solid #BBBBBB;}
.th001{margin-left:15px; margin-top: 8px;}
.th011{margin-left:0px; margin-top: 8px;}
.th012{margin-left:8px; margin-top: 8px;}
.th002{margin-top:10px;margin-bottom:10px;}
.report-category{font-size:14px; font-weight:bold;}

.attendance-loader{float: right; margin-right: 390px; margin-top: 15px; }

.messagediv{color:#FF0000;float: left; margin-left: 145px;font-weight:bold;}
.patient_image-div{margin-top:10px;}
.patient_image{width:150px;margin-left: 191px;}
.medicine-list{height: auto;width:99%;float:left;}
.drugs_sections{width:548px;margin: 0px 0px;overflow-y:scroll; height:180px;}
.drugs_div_sec{float:right; margin-top: -10px; }
.dosage_green{ background: none repeat scroll 0 0 #008d00;border: 1px solid #eeeeee;height: 15px;color: #ffffff;font-size:12px;cursor:pointer;}
.dosage_red{ background: none repeat scroll 0 0 #ff0000;border: 1px solid #eeeeee;height: 15px;color: #ffffff;font-size:12px;cursor:pointer;}

.dosage_dispansed_green{ background: none repeat scroll 0 0 #008d00;
						 border: 1px solid #eeeeee;
						 height: 15px;
						 color: #ffffff;
						 font-size:12px;
						 font-weight:bold;
						 cursor:pointer;
						 width:110px;
						 padding: 10px;
						 height: 28px;
						 line-height: 0px;
						}
.dosage_dispansed_red { background: none repeat scroll 0 0 #ff0000;
						border: 1px solid #eeeeee;
						height: 15px;
						color: #ffffff;
						font-size:12px;
						font-weight:bold;
						cursor:pointer;
						width:110px;
						padding: 0px;
						height: 28px;						
					 }

.complete_green{ background: none repeat scroll 0 0 #008d00;
						 border: 1px solid #eeeeee;
						 height: 15px;
						 color: #ffffff;
						 cursor:pointer;
						 width:95px;
						 padding: 0px;
						 height: 24px;
						 line-height: 0px;
						}
.complete_red { background: none repeat scroll 0 0 #ff0000;
				border: 1px solid #eeeeee;
				height: 15px;
				color: #ffffff;
				cursor:pointer;
				width:95px;
				padding: 0px;
				height: 24px;
				line-height: 0px;
			 }					 

.send_request_opd{ background-color: #008d00;
				   border: 1px solid #eeeeee;
				   height: 15px;
				   color: #ffffff;
				   cursor:pointer;
				   width:95px;
				   padding: 10px;
				   height: 24px;
				   line-height: 0px;
				  }
.send_not_request{ background: none repeat scroll 0 0 #008d00 ;
				   border: 1px solid #008d00 ;
				   height: 15px;
				   color: #ffffff;
				   font-size:12px;
				   cursor:pointer;
				   padding: 3px;
				   line-height: 0px;
				}				 
.send_request{ background: none repeat scroll 0 0 #1da2e0 ;
				   border: 1px solid #1da2e0 ;
				   height: 15px;
				   color: #ffffff;
				   font-size:12px;
				   cursor:pointer;
				   padding: 3px;
				   line-height: 0px;
				}				 
.send_request_1{ background: none repeat scroll 0 0 #1da2e0 ;
				   border: 1px solid #1da2e0 ;
				   color: #ffffff;
				   font-size:12px;
				   cursor:pointer;
				   padding: 3px;
				}						 
.send_not_request_1{ background: none repeat scroll 0 0 #008d00 ;
				   border: 1px solid #008d00 ;
				   color: #ffffff;
				   font-size:12px;
				   cursor:pointer;
				   padding: 3px;
				}						 
.dosage_print{  background: none repeat scroll 0 0 #ffff00;
				border: 1px solid #747474;
				height: 15px;
				color: #008d00;
				font-size:12px;
				cursor:pointer;
				font-weight:bold;
				width:97px;
				padding: 0px;
				height: 25px;
				line-height: 0px;
			}

.print_selected_all {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0px solid #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 0;
    padding: 10px;
    width: 97px;
}
.popup_section{
    background: none repeat scroll 0 0 #ffffff;
    border: 4px solid #dddddd;
    border-radius: 3px;
    color: #cccccc;
    height: 190px;
    margin-right: 100px;
    padding: 10px;
    position: absolute !important;
    right: 0 !important;
    text-align: left;
    top: 130px !important;
    width: 350px;
    z-index: 1000000;
	display:none;
}

/*--------------tika patient summary reports---------------------------------*/
#tika_table_report th {
    background-color: #C0C0C0;
    background-position: -15px -80px;
    border-right: 1px solid #808080;
    color: #ffffff;
    font-size: 0.75em;
    height: 30px;
    padding: 0 10px;
    text-align: left;
}
#tika_table_report th.leftmost {
    background-position: left -80px;
}
#tika_table_report th.rightmost {
    background-position: right -80px;
}
#tika_table_report .headerSortUp {
    background-position: right 0;
}
#tika_table_report .headerSortDown {
    background-position: right -40px;
}
#tika_table_report .rightmost {
    border-right: medium none;
}
#tika_table_report td {
    background-color: #E9E9E9;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    color: #444444;
    font-size: 0.8em;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
}
#tika_table_report td.rightmost {
    padding: 0;
}
#tika_table_report td.over {
    background-color: #CCCCFF;
    background-image: none;
}
#tika_table_report td.selected {
    background-color: #FFFFCC;
    background-image: none;
}

.tika-report{float:right; margin-top:10px; margin-right: 10px; font-size: 14px; text-align: right;width:350px;}
.summary_row{width:500px;}

/*--------------START HOME PAGE CSS COSE STARTED--------------------------*/
.home_welcome_title{color:#696666; font-weight: bold; font-size:20px;padding:00px;text-align:center;}

.home_left_box_form {
    border: 3px solid #CCCCCC;
    border-radius: 15px;
    float: right;
    height: auto;
    margin-right: 28px;
    margin-top: 5px;
    padding: 10px;
    width: 610px;
}
.home_left_box_form_title {
   color:#696666;
    float: left;
    font-weight: bold;
    margin-left: 37%;
    margin-top: 0px;
}
.home_left_menu{ border-left: 1px solid #CCCCCC; float: left;  width: 270px;height: 697px;/*overflow-y: scroll;*/}
.home_left_menu p {  line-height: 1.6em; padding: 5px 0 0;}
.home-section-menu {
    background-color: #000000 !important;
    border: 1px solid #000000 !important;
    color: #88ffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px !important;
    height: 32px;
    padding: 5px 7px 4px !important;
    width: 252px;
	text-align: left;
}

.home_box{margin-top:4px;float:left; width:100%; border-bottom: 2px solid #CCCCCC;}
.form-section-div{float:left;width:100%;margin-top:5px;border-top: 2px solid #CCCCCC;border-bottom: 2px solid #CCCCCC; height: 40px;}
.form-section-menu {
    background-color: #000000 !important;
    border: 1px solid #000000 !important;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    height: 27px;
    margin-left: 95px;margin-top: 6px;
    width: 110px;
}
.form-section-menu-old {
    background-color: #ffffff !important;
    border: 1px solid #000000 !important;
    color: #696666 !important; font-weight:bold;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px !important;
    height:27px;
    width: 100px;
	margin-left:50px;	
}
.about-hms{margin-top:10px;float:left; width:90%;margin-left: 5%;color: #696666;font-size: 12px;padding:0px;}
.about-hms p { line-height: 1.6em; padding: 5px 0 5px;}
.about-hms-title{font-size:24px;font-weight: bold;text-align: center;color:#000000;} 
.company_title{font-size:24px;font-weight: bold;text-align: center;color:#3e48c9;margin-top: 10px;}
.company_logo_sec{text-align: center;color:#000000;margin-top: 30px;}
.company_logo_image{width:300px;}
#about-license{display:none;}
#about-videos{display:none; margin-left: -20px;}
#about-hms{margin-left:-20px;}
.about-videos-left{float:left;width:50%;}
.about-videos-right{float:right;margin-right: 75px;display:none;}

.no_records_found{margin-left:34%; margin-top:10px;font-size:14px; font-weight:bold; margin-bottom: 50px;}
.no_records_found2{text-align:center; margin-top:10px;font-size:14px; font-weight:bold; margin-bottom: 10px;}
.report-title-sections{float:left; width:50%}
.report-logo-sections{float:right; margin-right: 20px;}
.ipd-report-sec{ margin-left: 5px;}
.ipd-inpaid-type{margin-right:10px;}
.ipd_sales_type{color:red; margin-left: 15px;}

/*--------------DIABETES MODULE CSS COSE STARTED--------------------------*/
.form-dibetes-home{ border-top: 2px solid #cccccc; float: left;  height: 40px; margin-top: 5px; width: 100%;}
.diabetes-home_form_title { color: #000000; float: left; font-weight: bold; margin-left: 22%; margin-top: 0; font-size: 24px;}
#diabetes_module_sections{ clear: both; width: 642px; margin-left: 50px;}
.diabetes_item { float: left; padding: 10px; width: 160px;}
#diabetes_module_sections .diabetes_item_title {color: #000000; font-size: 14px; line-height: 17px; margin-left: -5px;}
.diabetes_item_image{margin-left:22px;}

#account_search_sec2{display:block;}
#account_search_sec3{display:none;}
.form_customer_image01{ display: none;margin-left: 13px;margin-top: 18px;	position: absolute;	z-index: 5000; }
.form_customer_image02{ display: none;margin-left: 13px;margin-top: 18px;	position: absolute;	z-index: 5000; }

#form_loader_sec_img {
    display: none;
    margin-right: 0;
    margin-top: 8px;
}
.error_sex3 {
			color: red;
			display: none;
			margin-top: 2px;
			font-weight: normal;
			margin-left: 184px;
}
.searchgroup {
    display: none;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    z-index: 5000;
}

.waiting_counter_up {
    background: none repeat scroll 0 0 #1DA237;
    border: 1px solid #1DA237; 
	border-top-left-radius:15px;
	border-top-right-radius:15px;
    color: #ffffff;
    font-weight: bold;
    height: 15px;
    margin-top: 2px;
    padding: 10px;
	font-size: 12px;
	width: 88%;
	float: left;
}

.waiting_counter_down {
    background: none repeat scroll 0 0 #1DA237;
    border: 1px solid #1DA237;
    border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
    color: #ffffff;
    min-height: 280px;
    margin-top: 5px;
    padding: 10px;
	font-size: 12px;font-weight:bold;
	width: 88%;
	float: left;
}

.bags_reports_counter {
    background: none repeat scroll 0 0 #e9e9e9;
    border: 1px solid #bbbbbb;
    border-radius:15px;
    color: #000000;
    min-height: 145px;
    margin-top: 5px;
    padding: 10px;
	font-size: 12px;font-weight:bold;
	width: 88%;
}
.bags_reports_list{color:#000000;padding:6px;}

.waiting_list{color:#ffffff;padding:6px;}
.waiting_list a{	color:#ffffff;	text-decoration:none;
}
.waiting_list a:hover{ color:#ffffff; }
.count_appoint{color:yellow;font-weight:bold;}
.appoint_complete{ background: none repeat scroll 0 0 #008d00;
						 border: 1px solid #eeeeee;
						 height: 15px;
						 color: #ffffff;
						 font-size:12px;
						 font-weight:bold;
						 cursor:pointer;
						 padding: 5px;
						 line-height: 26px;
						}
.appoint_cancel{ background: none repeat scroll 0 0 #ff0000;
						border: 1px solid #eeeeee;
						height: 15px;
						color: #ffffff;
						font-size:12px;
						font-weight:bold;
						cursor:pointer;
						padding: 5px;
						line-height: 4px;
					 }

.use_last_one {
    background: none repeat scroll 0 0 #1da2e0;
    border: 1px solid #1da2e0;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    line-height: 26px;
    padding: 4px;
}
.physical_exam_link {
    background: none repeat scroll 0 0 #1da237;
    border: 1px solid #1da237;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    line-height: 26px;
    padding: 4px;
}
.use_old_one{float:left;margin-right:50px;}
.physical_exam_span{margin-left:42px;}

.view_clinic_note{color:red;}
.cashier_request_sec{width:75%; float:left;margin-top: -77px;}
.display_cashier_request {  margin-left:4px;
							background-color: #000000;
							border-right: 1px solid #bbbbbb;
							color: #ffffff;
							float: left;
							height: 18px;
							padding: 2px;
							text-align: center;  
							width: 170px;
							font-size: 14px;
							margin-bottom: 5px;
						}
.profile-sec{float:left;width:90%; color: #444444;}						
.profile-info{float:left; margin-left:20px;width:100%;padding: 1px;}
.profileinfo01{float:left;font-size: 14px;width: 140px;}
.measure_table_sec{ border-top: 2px solid #BBBBBB;
					border-left: 2px solid #BBBBBB;
					border-right: 2px solid #BBBBBB;
					border-bottom: 1px solid #BBBBBB;
					margin-top: 20px;
					padding: 0px;
					float:left; 
					width:99.4%; 
					font-size:12px;
				  }
.measure_title_left{width:30%;float:left;font-weight: bold;padding: 5px;}
.measure_title_right{float:left;font-weight: bold;padding: 5px;}     


#measure_table_report th {
    background-color: #ffffff;
    background-position: -15px -80px;
    border: 1px solid #808080;	
    color: #000000;
    height: 30px;
    padding: 0 10px;
    text-align: left;
}
#measure_table_report th.leftmost {
    background-position: left -80px;
}
#measure_table_report th.rightmost {
    background-position: right -80px;
}
#measure_table_report .headerSortUp {
    background-position: right 0;
}
#measure_table_report .headerSortDown {
    background-position: right -40px;
}
#measure_table_report .rightmost {
    border-right: medium none;
}
#measure_table_report td {  border: 1px solid #BBBBBB;
						  color: #444444;
						  font-size: 0.8em;
						  height: 30px;
						  padding: 0 10px;
						  vertical-align: middle;
						}
#measure_table_report td.rightmost {
    padding: 0;
}
#measure_table_report td.over {
    background-color: #CCCCFF;
    background-image: none;
}
#measure_table_report td.selected {
    background-color: #FFFFCC;
    background-image: none;
}
#measure_table_report .report_table{float:left;}

.searchReports {display: none; margin-top: 20px; position: absolute;z-index: 5000;}
#customers_ipd_sec(display:none;)
.search_request{ border: 1px solid #cccccc;
				 line-height: 20px;
				 padding: 5px;
				 width: 190px;
	           }
			   
.search_request_img {
    display: none;
    float: left;
    margin-left: 150px;
    margin-top: 2px;
    position: absolute;
    z-index: 5000;
}
#cashier_request_list{margin-top:20px; padding: 5px;}
.dosage_status_ongoing{color:#000000; font-weight:bold;}
.dosage_status_complete{color:#008d00; font-weight:bold;}
.dosage_status_cancel{color:#FF0000; font-weight:bold;}
.print_profile{background-color: #1da2e0;border: 1px solid #1da2e0;font-size: 14px;padding: 4px;width:auto;cursor:pointer;float:right;margin-left:140px;}
.button_blue{background-color: #6666CC;border: 1px solid #9966FF;color:#ffffff;font-size: 14px;padding: 4px;width:auto;cursor:pointer;float:right;margin-left:140px;}
.button_blue2{background-color: #6666CC;border: 1px solid #9966FF;color:#ffffff;font-size: 14px;padding: 2px;width:auto;cursor:pointer;}
.button_green{background-color: #008d00;border: 1px solid #008d00;color:#ffffff;font-size: 14px;padding: 2px;width:auto;cursor:pointer; margin-left: 10px;}
.button_red{background-color: #ff0000;border: 1px solid #ff0000;color:#ffffff;font-size: 14px;padding: 2px;width:auto;cursor:pointer; margin-left: 10px;}

.profile_div { margin-bottom: 15px;color: #444444; float: left;width: 100%;}
.profile_info_left { color: #444444; float: left; width: 60%;}
.profile_info_right {float: right;width: 20%;}
.dosage_count{font-size: 14px; margin-left: 0px;}
.dosage_update_sec{float:right;width:65%;}
.dosage_update_sec2{float:right;}
.dosage_text_sec {width:100px;}

.field_row {
	margin: 10px;
	font-size: 14px;
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.field_row label {
    float: left;
    padding: 5px;
    width: 110px;
}
.field_row div.form_field input {
    border: 1px solid #cccccc;
    line-height: 20px;
    padding: 5px;
    width: 180px;
}
#spinner003{display:none;}
.get_valid {   
    color: green;
    font-size: 14px;
    margin-left: 0px;
	text-align: center;
    padding: 2px;
}
.get_invalid {
    color: red;
    font-size: 14px;
    padding: 2px;
	margin-left: 0px;
	text-align: center;
}

#spinner005 {
    display: none;
}

#dhtmltooltip{
position: absolute;
min-width: 150px;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
color:yellow;
font-weight:bold;
visibility: hidden;
z-index: 100;
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
.clarification_green{ background: none repeat scroll 0 0 #008d00;border: 1px solid #eeeeee;height: 15px;color: #ffffff;font-size:12px;cursor:pointer;}
.clarification_red{ background: none repeat scroll 0 0 #ff0000;border: 1px solid #eeeeee;height: 15px;color: #ffffff;font-size:12px;cursor:pointer;}
.clarification {  font-size: 14px; font-weight: bold; margin-left: 72px; }
.add-clarification { border: 1px solid #cccccc; line-height: 20px; padding: 5px; width: 300px;}
.clarification_result { background-color: #d3d3d3; float: left;height: 24px; width: 98.5%;margin-bottom: 10px;font-weight:normal;}
.clarification_result2 { background-color: #d3d3d3; float: left;height: 24px; width: 96.5%;margin-bottom: 10px;font-weight:normal;}
.clarification_result_title { color: red;font-weight:bold;}
.document_sec{ margin-left:0px;font-size: 14px; background-color: #e9e9e9;  border: 1px solid #bbbbbb;padding: 10px;margin-bottom: 10px;}
.report_option{width:300px;padding: 2px;}
#document_referal_sec{display:none;}
#documentation_type_sec{display:none;padding: 10px 0 0;}

/*--------------Labpratory MODULE CSS COSE STARTED--------------------------*/
.home_left_box_form {
    border: 3px solid #cccccc;
    border-radius: 15px;
    float: right;
    font-size: 14px;
    height: auto;
    margin-right: 28px;
    margin-top: 5px;
    padding: 10px;
    width: 610px;
}

.laboratory_left_box_form {
    border: 3px solid #cccccc;
    border-radius: 15px;
    float: left;
    font-size: 14px;
    height: auto;
    margin-right: 0px;
    margin-top: 5px;
    padding: 0px 2px 10px;
    width: 677px;
}
.laboratory_home_form_title { color: #696666; text-align: center; font-weight: bold; margin-top: 5px; font-size: 18px;}
.laboratory_checkbox_sec { color: #696666; text-align: center; margin-bottom: 5px;font-size: 14px;}

.form_laboratory_home{ border-top: 2px solid #cccccc; float: left;  height: 20px; margin-top: 10px; width: 100%;}
.form_laboratory_home2{ border-top: 2px solid #cccccc; float: left;  height: 5px; margin-top: 10px; width: 100%;}
.form_laboratory_home3{ border-top: 2px solid #cccccc; float: left;  height: 5px; margin-top: 5px;margin-bottom: 10px; width: 100%;}
.form_laboratory_home_bottom{ border-top: 2px solid #cccccc; height:10px; margin-top: 5px; width: 100%;}
#laboratory_module_sections{ clear: both; width: 642px; margin-left: 0px;}
.laboratory_item { float: left; padding: 10px; width: 108px;text-align: center;margin-left: -5px;}
#laboratory_module_sections .laboratory_item_title {color:#0000FF; font-size: 14px; line-height: 17px; margin-left: 0px;}
.laboratory_item_image{margin-left:0px;}
.bottom_item{text-align: center;} 
.laboratory_sec {float:left; width: 100%; margin-top: 4px;}
.laboratory_search {margin-left: 18px;}
.laboratory_name_text {font-size: 14px;font-weight: bold;margin-left: 0px;color: #000000;}
.laboratory-search-box {border: 1px solid #cccccc; line-height: 20px; padding: 3px;}
.laboratory_action_sec {margin-left: 12px;}
.laboratory_action_sec2 {margin-left: 186px;}
.department-drodown{width:188px;padding: 3px;border: 1px solid #cccccc;}
.spinner{display:none;}
.showsection{display:block; }
.hidesection{display:none; float: left;}

/*-----------exemption summary--------*/
.summary_title{float:left; color: #444444;font-size:20px; padding:5px;margin-bottom:10px; margin-left: 30%;text-align: center;}
#summary_table {width: 300px; background-image: none;background-position: 0 0;margin-top: 10px; font-size: 14px;}
.summary_bgcolor{ background-color: #e9e9e9;}
#summary_table th {
    background-position: -15px -80px;
    border-top: 1px solid #9a9a9a;
	border-right: 1px solid #9a9a9a;
    color: #ffffff;
    height: 25px;
    padding: 0 10px;
    text-align: left;
}
#summary_table > tbody > tr {
    margin: 5px;
    padding: 5px;
}

#summary_table td {
    border: 1px solid #9a9a9a;
    color: #444444;
    height: 25px;
    padding: 0 10px;
    vertical-align: middle;
}

/*----NHIF PATIENT FORM CSS------*/
.nhif_patient_title{font-size: 20px; margin-right: 108px;}
.nhif_report_sec{ float: left;}
.nhif_report_logo{ width:100px;}

#nhif_table_holder {  height: auto;  width: 100%;text-align: center;}

#nhif_table_report{ width:100%; }

#nhif_table_report th {
    background-color: #C0C0C0;
    border: 1px solid #808080;
    color: #000000;
    font-size: 11px;
    height: 30px;
    padding: 0 5px;
    text-align: left;
	text-align: center;
}
#nhif_table_report th.leftmost {
    background-position: left -80px;
}
#nhif_table_report th.rightmost {
    background-position: right -80px;
}
#nhif_table_report .headerSortUp {
    background-position: right 0;
}
#nhif_table_report .headerSortDown {
    background-position: right -40px;
}
#nhif_table_report .rightmost {
    border-right: medium none;
}
#nhif_table_report td {
    border: 1px solid #BBBBBB;
    color: #444444;
     font-size: 12px;
    height: 30px;
    padding: 0 px;
    vertical-align: middle;
}
#nhif_table_report td.rightmost {
    padding: 0;
}
#nhif_table_report td.over {
    background-color: #CCCCFF;
    background-image: none;
}
#patient_data {
	display:none;
	padding: 5px;
	min-height: 520px;
	background-color: #ffffff;
	margin-top: 20px;
	margin-left: -52px;
	width: 1050px;
    border: 4px solid #DDDDDD;
    border-radius: 3px;
    position: absolute !important;
    z-index: 1000000;
}
.nhif_left_box_form {
    border: 3px solid #cccccc;
    border-radius: 15px;
    float: left;
    font-size: 14px;
    height: auto;
    margin-right: 0;
    margin-top: 5px;
    padding: 0 2px 10px;
    width: 677px;
}
.nhif_content_sec { color: #696666; float: left; font-size: 12px; margin-top: 10px; padding: 10;width: 100%;}
.nhif_report_title{color: #770000;font-weight: bold;margin-bottom: 5px;padding: 5px;text-align: center;}
.table_particular{float:left;width:100%;font-size:14px;}
.table_particular td {padding:2px;}   
.table_sec_A{font-weight:bold;float:left;}
.table_sec_B{font-weight:bold;float:left;}
.table_sec_td1{float:left;}
.table_top_sec{float:left;width:100%;}
.table_sec_illness_type{float:left;text-align: left;}
.table_hospital_sec1{float:left;}
.table_hospital_sec2{float:left;margin-left:25px;}
.nhif_report_serial_sec{float:right;width:200px;font-size:14px;margin-right: 52px;}
.nhif_report_serial{float:right;}
.nhif_row_dotted {border-top: 2px solid #cccccc;float: left;height: 5px;margin-top: 0px; width: 100%;}
.nhif_row_dotted_bottom {border-top: 2px solid #cccccc;float: left;height: 5px;margin-top: 5px; margin-bottom: 5px; width: 100%;}

#view_left_menu_div {float: left;padding: 0;margin-bottom: 10px;}
#view_left_menu_div .option_filter { border: 1px solid #cccccc;float: right;line-height: 20px; margin-right: 0;padding: 2px;width: 175px;}
#view_left_menu_calender {float: left; margin-bottom: 5px; width: 180px;}
#view_left_menu_calender #from_date {border: 1px solid #cccccc;font-size: 10px;line-height: 2px;padding: 5px;width: 55px;}
#view_left_menu_calender #to_date {border: 1px solid #cccccc;font-size: 10px;line-height: 2px;padding: 5px;width: 55px;}
#view_left_menu_calender .search_trans { background: #1e5a96 none repeat scroll 0 0; border: 1px solid #eeeeee;color: #ffffff;cursor: pointer;font-size: 12px;
								   font-weight: bold;line-height: 20px; margin-left: 50px;padding: 2px;
								 }
select{ padding: 2px;} 
input{ padding: 2px;}		
.green_class{background-color:green;}						 