/**
* Plugin: jQuery AJAX-ZOOM, axZm.css
* Copyright: Copyright (c) 2010-2014 Vadim Jacobi
* License Agreement: http://www.ajax-zoom.com/index.php?cid=download
* Version: 4.1.9
* Date: 2014-09-02
* URL: http://www.ajax-zoom.com
* Documentation: http://www.ajax-zoom.com/index.php?cid=docs
*/

/**
***********************************************************************************
* Put your css inside axZmCustom.css or in /axZm/styles/[yourTemplate]/style.css  
* [yourTemplate] is set in $zoom['config']['buttonSet'] in zoomConfigCustom.inc.php 
***********************************************************************************
*/

@import url("axZmCustom.css");

 
body {
	margin: 0; 
	padding: 0; 
	/*do not place height: 100%; in body tag*/
}

html {
	margin: 0; 
	padding: 0; 
	border: 0; 
}

.zoomAll {
	position: static; 
	text-align: left;
	text-indent: 0;
	clear: both;
	font: 1px Arial;
	vertical-align: top;
	margin: 0;
	padding: 0;
	background-position: 0px 0px;
}

.zoomLoaderHolder {
	position: absolute;
	z-index: 9;
	background-color: transparent;
	display: none;
}

.zoomLoader{
	position: absolute;
	width: 220px;
	height: 19px;
	margin: 0px;
	background-image: url('icons/ajax-loader-bar.gif');
	background-repeat: repeat-y;
	display: none;
}

.zoomLoader1{
	position: absolute;
	width: 16px;
	height: 11px;
	margin: 0px;
	background-image: url('icons/ajax_loader_corner1.gif');
	background-repeat: no-repeat;
	display: none;
}

.zoomLoader2{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #000000;
	margin: 0px;
	background-image: url('icons/ajax_loader_corner2.gif');
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
}

.zoomLoader3{
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 0px;
	background-image: url('icons/ajax-loader1.png');
	display: none;
}

.zoomBar{
	background-image: url('icons/progressbar2.gif');
	background-color: transparent;
	background-repeat: repeat-x;
}

.zoomMapHolder{
	position: absolute;
	display: none;
	z-index: 1;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-color: #2D2D2D;
	border-style: solid;
	background-repeat: no-repeat;
	background-position: center center;
}

.zoomMapHandle{
	position: absolute;
	z-index: 2;
	background-image: url('icons/zoommaphandle.jpg');
	background-repeat: repeat-x;
	overflow: hidden;
	display: none;
	color: #FFFFFF;
	font-family: Tahoma, Arial; 
	font-size: 6pt;
	text-align: left;
}

.zoomMap{
	position: absolute;
	z-index: 1;
	/*background-color: #000000;*/
	display: none;
	text-align: left;
}

.zoomMapImg{
	position: absolute;
	/* float: left; */
}

.zoomMapSel{
	position: absolute;
	z-index: 3;
	overflow: hidden;
	border-width: 1px;
	border-color: #FF0000; /*#30FF00*/
	border-style: solid;	
}

.zoomMapSelArea {
	background-color: red;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.zoomMapClose{
	width: 13px; 
	height: 10px; 
	margin-top: 1px;
}

.zoomMapLoading{
	position: absolute;
	z-index: 520;
	background-color: #808080;
	background-image: url('icons/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.zoomMapLoadingAnm{
	background-color: #808080;
	background-image: url('icons/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.zoomBorder{
	float: left;
	position: static; 
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	text-align: left;
}

.zoomContainer {
	display: inline; /*ie6 bug*/
	background-image: url('icons/ajaxzoomlogo.png');
	background-repeat: no-repeat; 
	background-position: center center;
	padding: 0px;
	overflow: hidden; 
	background-color: #1D1D1A;
	text-align: left;
}

.zoomWarning{
	position: absolute; 
	z-index: 1; 
	width: 300px;
}

.zoomDescrHolder{
	position: absolute;
	overflow:hidden;
	z-index: 1;
	display: none;
}

.zoomDescr {
	position: absolute;
	/* background color of the text, see also descrAreaTransp option */
	background-color: none; /*#000000*/
	text-align: left;
}

/* coming from button */
.zoomDescrButton {
	font-family: Tahoma, Arial; /*monospace*/ 
	font-size: 12px;
	z-index: 2;
	color: #FFFFFF;
	min-width: 100px;
	text-align: right;
	letter-spacing: 0.1em;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 
				 2px 2px 2px #7C7C7C, -2px -2px 2px #7C7C7C, 2px -2px 2px #7C7C7C, -2px 2px 2px #7C7C7C;
	padding: 3px 5px 5px 5px;
	/*
	border-top: 1px #000000 solid;
	border-left: 1px #000000 solid;
	*/
}

.zoomDescrButton.shadow{
	position: absolute;
	zoom: 1;
	z-index: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(color=black, Strength=1), progid:DXImageTransform.Microsoft.Alpha(opacity=90), progid:DXImageTransform.Microsoft.Blur(pixelradius=1.5, enabled=true)";
	filter: progid:DXImageTransform.Microsoft.Glow(color=black, Strength=1), progid:DXImageTransform.Microsoft.Alpha(opacity=90), progid:DXImageTransform.Microsoft.Blur(pixelradius=1.5, enabled=true);
	color: #000000;
	left: -3px;
	top: -3px;
}

.zoomDescrBackPic {
	/* background color of the text, see also descrAreaTransp option */
	background-color: #000000;
	text-align: left;
}

/* coming from not button */
.zoomDescrPic {
	width: 100%;
	font-family: Tahoma, Arial; 
	font-size: 10pt;
	font-variant: small-caps;
	color: #FFFFFF;
	margin: 5px 5px 5px 5px;
}

.zoomedHelpHolder{
	position: absolute;
	z-index: 1;
	display: none;
	background-image: url('icons/tr_black_70.png');
	overflow: hidden;
	text-align: left;
}

.zoomedHelp{
	position: absolute; 
	overflow: auto;
	overflow-x: hidden;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	font-family: Tahoma, Arial; 
	font-size: 10pt;
	color: #000000;
	display: none;
	text-align: left;
	background-image: url('icons/1084957_44422511.jpg'); 
	background-repeat: no-repeat; 
	background-position: bottom right;
}

.zoomWarningHTML{
	background-color: #FDFDFD; 
	color: #AB0000; 
	font-size: 10pt; 
	font-family: Tahoma, Arial; 
	text-align: left;
	line-height: 1.1em;
}

.zoomedBack{
	position: absolute; 
	z-index: 3; 
	padding: 0px; 
	margin: 0px; 
	overflow: hidden;
}

.zoomedBackImage{
	padding: 0px;  
	margin: 0px;  
	overflow: hidden;
}

/*Actual pic*/
.zoomedImageContainer{
	position: absolute; 
	z-index: 4; 
	padding: 0px; 
	margin: 0px; 
	overflow: hidden;
}

.zoomedImage{
	padding: 0px; 
	margin: 0px; 
	overflow: hidden;
}

/* Select Area*/
.zoomLayer{
	position: absolute; 
	z-index: 10; 
	padding: 0px; 
	margin: 0px;
	overflow: hidden;
}

.zoomLayerImg{
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	border: none;
	padding: 0;
	margin: 0;
}

.zoomText{
	color:#FFFFFF; 
	font-size: 8pt; 
	font-family: Tahoma, Arial;
	overflow: hidden;
	text-align: left;
}

.zoomLogHolder{
	font-family: Tahoma, Arial;
	text-align: left;
	width: 110px;
	height: 35px;
	overflow: hidden;
}

.zoomLog{
	display: block;
	color: #ffffff;
	font-size: 7pt; 
	line-height: 1;
}

.zoomLogJustLevel{
	float:left;
	width: 60px;
	color: #D6D6D3;
	font-size: 14pt; 
	margin: 7px 0px 0px 3px;
	display: inline;
}

.zoomNavigation{
	float: left;
	margin: 0px;
	padding: 0px;
	background-color:#000000; 
	background-image:url('icons/stripe_back.png');
	background-repeat: repeat-x;
	overflow: hidden;
	display: inline;
}

.zoomNavigation table, tbody, tr, td{
	border: none;
}

#zoomNaviTable td{
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

.zoomAdmin{
	float: left;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 7pt; 
	line-height: 1;
	font-family: Tahoma, Arial;	
	text-align: left;
}

/* Horizontal Containers */
.zoomGalleryHorizontalContainer{
	float: left;
	background-color:#000000;
	overflow: hidden;
	text-align: left;
}

.zoomGalleryHorizontal{
	float: left;
	background-color: #1F1F1C;
	overflow: hidden; 
}

.zoomGalleryHorizontalArrow{
	overflow: hidden; 
	background-color: #000000;
}

.zoomGalleryHorizontalCorner{
	position: absolute;
	overflow: hidden;
	font-size: 2px;
	background-repeat: no-repeat;
}

/* Horizontal Thumbs */
.zoomHorGalleryBox, .zoomHorGalleryBoxOver, .zoomHorGalleryBoxSelected{
	float: left;
	cursor: pointer;
	margin-top: 0px;
	margin-left: 0px;
	border-style: solid;
	border-color: #535353; /*anim*/
	background-color: #282824; /*anim*/
	color: #D7D6D6; /*anim*/
	overflow: hidden;
	display: inline;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.zoomHorGalleryBoxSelected{
	border-color: #FFFFFF; /*anim*/
	background-color: #1F1F1C; /*anim*/
	color: #FFFFFF; /*anim*/
}

.zoomHorGalleryBoxOver{
	border-color: #979696; /*anim*/
	background-color: #50504D; /*anim*/
	color: #FFFFFF; /*anim*/
}

.zoomHorGalleryImg{
	background-image: url('icons/ajax-loader.gif'); 
	background-position: center center;
	background-repeat: no-repeat;
	font-family: Tahoma, Arial;
	font-size: 8pt; 
}

.zoomHorGalleryDescr{
	text-align: center; 
	font-size: 7pt; 
	line-height: 1;
	font-family: Tahoma, Arial;
	overflow: hidden;
}

/* Vertical Containers */
.zoomGalleryVerticalContainer{
	display: inline;
	background-color: #000000;
	overflow: hidden;
	text-align: left;
}

.zoomGalleryVertical{
	clear: both; 
	display: inline;
	overflow: auto; 
	overflow-x: hidden;
	visibility: hidden;
}

.zoomGalleryVerticalNavi{
	position: relative;
	/*z-index: 11;*/
	clear: both; 
	float: right; /*???*/
	overflow: hidden; 
	visibility: hidden;
	background-color: #000000; 
	background-image:url('icons/stripe_back.png');
	background-repeat: repeat-x;
}

/* Vertical Thumbs */
.zoomGalleryBox, .zoomGalleryBoxOver, .zoomGalleryBoxSelected{
	float: left;
	cursor: pointer;
	margin-top: 0px;
	margin-left: 0px;
	border-style: solid;
	border-color: #535353; /*anim*/
	background-color: #1F1F1C; /*anim*/
	color: #D7D6D6; /*anim*/
	overflow: hidden;
	display: inline;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.zoomGalleryBoxSelected{
	border-color: #FFFFFF; /*anim*/
	background-color: #1F1F1C; /*anim*/
	color: #FFFFFF; /*anim*/
}

.zoomGalleryBoxOver{
	border-color: #979696; /*anim*/
	background-color: #50504D; /*anim*/
	color: #FFFFFF; /*anim*/
}

.zoomGalleryImg{
	background-image: url('icons/ajax-loader.gif'); 
	background-position: center center;
	background-repeat: no-repeat;
}

.zoomGalleryDescr{
	text-align: center; 
	font-size: 7pt; 
	line-height: 9pt;
	font-family: Tahoma, Arial;
	overflow: hidden;
}

/* Full page gallery containers */
.zoomFullGalleryHolder{
	position: absolute; 
	z-index: 1;
	display: none;
	text-align: left;
}

.zoomFullGallery{
	position: absolute; 
	overflow: auto;
	overflow-x: hidden;
	background-color: #1F1F1C;
}

/* Full page thumbs Thumbs */
.zoomFullGalleryBox, .zoomFullGalleryBoxOver, .zoomFullGalleryBoxSelected{
	float: left;
	cursor: pointer;
	margin-top: 0px;
	margin-left: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;  /*anim*/
	background-color: #282824; /*anim*/
	color: #D7D6D6; /*anim*/
	overflow: hidden;
	display: inline;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.zoomFullGalleryBoxOver{
	border-color: #FFFFFF; /*anim*/
	background-color: #50504D; /*anim*/
	color: #FFFFFF; /*anim*/
}

.zoomFullGalleryBoxSelected{
	border-color: #00A314; /*anim*/
	background-color: #000000; /*anim*/
	color: #FFFFFF; /*anim*/
}

.zoomFullGalleryImg{
	background-image: url('icons/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;		
}
.zoomFullGalleryDescr{
	text-align: center; 
	font-size: 7pt; 
	line-height: 8pt;
	font-family: Tahoma, Arial;
	overflow: hidden;
}

/* Tooltip */
.zoomFullGalleryTooltip{
	position: absolute; 
	z-index: 100;
	width: 140px;
	height: auto;
	background-color: #FFFFFF;

}

.zoomFullGalleryTooltipText{
	font-family: Tahoma, Arial;
	color: #000000; 
	font-size: 7pt;
	line-height: 1;
	margin: 3px;
}


.zoomDialog{
	color: #444444; 
	font-size: 9pt; 
	font-family: Tahoma, Arial;
	word-wrap: break-word;
}

.zoomWtrmrk{
	position: absolute;
	z-index: 1;
	background-image: url(icons/copyright.png);
	background-position: center center;
	background-repeat: no-repeat;
}

/* Image area */
.zoomCropContainer{
	position: absolute;
	z-index: 9;
	overflow: hidden;
}

.zoomCropBorder{
	position: absolute;
	z-index: 5;
	overflow: hidden; 
}

.zoomCropArea{

}

.zoomCropCross{
	position: absolute;
	background-image: url(icons/red-cross.gif);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center;
	width: 15px;
	height: 15px;
}

.zoomCropOuter{
	position: absolute;
	z-index: 4;
}

.zoomTitleContainer{
	float: left;
	background-color: #000000;
	overflow: hidden;
}

.zoomTitle{
	background-color: #000000;
}

.zoomTitleText{
	color: #FFFFFF;
	text-align: center;
	font-size: 13pt;
	font-weight: bold;
	padding: 2px 5px 0px 5px;
}


.spinPreloaderHolder{
	position: absolute;
	overflow: hidden;
	font-size: 11pt;
	color: #FFFFFF;
	border-color: #000000;
	border-style: solid;
	background-image: url('icons/tr_black_70.png');
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.spinPreloaderBar{
	position: absolute;
	background-color: green;
	background-image: url('icons/spin_preloader.png');
	background-repeat: repeat-x;
}

.spinPreloadContainer{
	background-image: url('icons/tr_black_30.png');
}

.zoomSliderSpinContainer{
	float: left;
	margin: 0px;
	padding: 0px;
	background-color:#000000; 
	overflow: hidden;
	display: inline;
}

.zFsO{
	-moz-user-select: none; /* only moz (iframe)*/
	background-color: #000000;
}

.zFsOResOverlay{
	background-color: #000000;
}

.axZmAlertBox{
	position: absolute; 
	z-index: 99999999;
	cursor: pointer;
	padding: 0px;
	width: 430px;
	min-height: 70px;
	background-color: #FFFFFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: #555555 solid 12px;
}

#zFsO div, #zoomAll div{
	box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	outline: none; 
	word-wrap: normal;
	word-break: normal;
	-moz-user-select: none; /*only moz (iframe)*/
}

#zFsO img, #zoomAll img{
	margin: 0px;
	padding: 0px;
	border: none;
	max-width: 9999999px;
}
	
#zFsO table, #zoomAll table{
	margin: 0px;
	padding: 0px;
	border: none;
	background: none;
	width: auto;
}

#zFsO table tr td, #zoomAll table tr td{
	margin: 0px;
	padding: 0px;
	border: none;
	background: none;
}

.axZmHotspotText{
    color: #444444;
    font-family: "Courier New", Courier, mono;
	word-break: normal;
    font-size: 16px;
    line-height: 1.1em;
    padding-top: 5px;
    text-align: center;
}

.axZmHotspotTextCustom{
	color: #000000;
    font-size: 12px;
    padding: 5px;
    text-align: left;
}

.axZmToolTipOuter{
	padding: 0;
	margin: 0;
	font-size: 10px;
	position: absolute;
	z-index: 999999999;
}

.axZmToolTipInner{
	padding: 10px; 
	font-size: 10px;
	background-color: #FFFFFF; 
	color: black; 
	text-align: left;
	border: #CCCCCC 1px solid;
	border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	-webkit-box-shadow:  0px 2px 4px 1px #000000;
	box-shadow:  0px 2px 4px 1px #000000;
	-moz-box-shadow: 0px 2px 4px 1px #000000;
}

.axZmToolTipInnerCustom{
	padding: 10px; 
	font-size: 10px;
	color: #FFFFFF;
	/* background-color: #000000;*/
	/* remove background-color and use transparent png for only backgound opacity */
	background-image: url('icons/tr_black_90.png');
	text-align: left;
	border: none;
	-webkit-box-shadow:  0px 2px 4px 1px #000000;
	box-shadow:  0px 2px 4px 1px #000000;
	-moz-box-shadow: 0px 2px 4px 1px #000000;
}

.axZmHoverTooltip{
    position: absolute;
    display:none;
    border: 1px solid #000;
	border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius: 3px;
    background: #fff;
    padding: 0.25em;
}

.axZmToolTipTitle{
	color: #104EDB;
	font-size: 14px;
	line-height: 16px;
	min-height: 22px;
}

.axZmToolTipTitleCustom{
	color: #FFFFFF;
	font-weight: bold;
	/* background-color: #000000;*/
	margin-top: 5px;
	line-height: 16px;
	min-height: 22px;
}

.axZmHotspotLabel{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 10px;
	padding: 2px;
	/*background-color: #666666;*/
	background-image: url('icons/tr_black_70.png');
	border: #000000 1px solid;
	border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius: 5px;
}

.zoomCornerRadius{
	background-color: #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.zoomCustomNavi{
	z-index: 2;
	position: absolute;
	padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;	
	/*border: 2px solid #444444;*/
	background-image: url('icons/tr_black_50.png');
	font: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.zoomCustomNaviFS{
	z-index: 2;
	position: absolute;
	padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;	
	/*border: 2px solid #444444;*/
	background-image: url('icons/tr_black_50.png');
	font: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.zoomCustomNaviZoomLevel{
	font: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #CCCCCC;
	line-height: 50px;
}

.zoomCustomNaviTooltip{
    position: absolute;
    display: none;
    min-width: 80px;
    text-align: center;
	color: #444444;
    padding: 0.25em 1em 0.25em 1em;
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*
	background: url("plugins/jquery.ui/themes/dark-hive/images/ui-bg_highlight-soft_44_444444_1x100.png") repeat-x scroll 50% 50% #444444;
	*/
    background: #FAF3C1;
    border: 1px solid #7F7F7F;
   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.5);
}


.zoomCustomNaviParentID{
	/*placeholder*/
}

.axZmBorderBox{
	box-sizing: border-box !important; 
	-moz-box-sizing: border-box !important; 
	-webkit-box-sizing: border-box !important;		
}

.axZmContentBox{
	box-sizing: content-box !important; 
	-moz-box-sizing: content-box !important; 
	-webkit-box-sizing: content-box !important;
}

.axZmIEpngFix{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.axZmRes, .axZmRes > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.axZmFsSpace{
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.axZmFsSpaceTop{
	background-color: #fff;
	float: left;
	width: 100%;
}

.axZmFsSpaceRight{
	background-color: #fff;
	float: right;
	height: 100%;
}

.axZmFsSpaceLeft{
	background-color: #fff;
	float: left;
	height: 100%;
}

.axZmFsSpaceBottom{
	background-color: #fff;
	float: left;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.axZmFsSpaceInner{
	height: auto;
	position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}